:root {
    --bg-main: #eee;
    --text-color-main: #000;
}
@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;
        --bg-main: #111;
        --text-color-main: #fff;
    }
}
h1 {
    color: var(--text-color-main);
}